body{
    margin: 0%;
    background-color: #FFFFFF;
    list-style: none;
    
}
.headers{
    width: 100%;
}
.top-header{
    background-color: #333333;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .dl-none{
     display: none;
    }
 
   }

.right-icons{
    margin-left: 20px;
}
.bottom-header{
    padding: 10px;
}
.container{
    align-items: center;
    width: 100%;
    height: 40px;
    max-width: 1440px;
}
.para{
    display: block;
    color: #FFFFFF;
    font: weight 620;
    margin-left: 10px;

    
}
.para-2{
    color: #FFFFFF;
    font-weight:620;

}


.menu{
    padding: 20px 30px;
    font-size:  clamp(1rem, .19vw + .96rem, 1.13rem);
    align-items: center;
}
.searchicon{
    column-rule-color: black;
}
.background{
    position: relative;

    
    
}
.main-image{
    width: 100%;
    height: 530px;
    object-fit: cover;

}
.text{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 26%;
    left: 16%;
    max-width: 50%;
}
.text-1{
    width: 50%;
    font-weight: 500;
    font-size: 1rem
   
}

.text-2{
    font-size: clamp(2.57rem, 0.48vw + 2.45rem, 2.89rem);
    max-width: 70%;
    font-weight: 635;
    line-height: 1.16;
}

.explore{
    background-color:#80c343 ;
    width: 120px;
    height: 50px;
    border: none;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}
.explore:hover{
    background-color: whitesmoke;
    border: #80c343 solid 1px;
}

.second-header-style{
    padding: 50px;
    font-size: clamp(2.03rem, 0.38vw + 1.94rem, 2.28rem);
    font-weight: 640;    
}
.img-card{
    justify-content: center;
    width: 100%;
    

}
.card{
margin-right: 1rem;
margin-left: 1rem;
border: none;
padding-bottom: 70px;

}
.card-text{
    text-align: center;
    color: #222;
    padding-top: 17px;
    font-weight: 400;
    cursor: pointer;
}
.card-text:hover{
    color: black;
    font-weight: bold;
}
.img-card-2{
    margin-bottom: 70px;
}
.background-2{
    position: relative;
    margin: 10px;

}
#bck-2{
    opacity: 0.9;
}

.text-3{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    color:rgb(0, 0, 0);
    font-size: clamp(1.6rem, 0.3vw + 1.53rem, 1.8rem) ;
    font-weight: 500;
    background-color: hsla(0, 0%, 100%, .35);
}
.text-4{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
}
.data{
    width: 100%;
    max-width: 1440px;
    padding-right:  1.5rem;
    padding-left:  1.5rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.awg-container-1{
    border-bottom: 2px #222 solid;
}
#data-header{
    font-weight: 600;
    font-size: clamp(2.03rem, 0.38vw + 1.94rem, 2.28rem) !important;
   
    padding-bottom: 5px;
}
#awg-100{
    object-fit: cover;
    width:100%;
    max-width: 800px;
    
}
.left-main{
    margin-top: 25px;
    }
.left-main-2{
    margin-top:1rem;
}

.para-1{
    font-size: 15px;
    margin-bottom:.5rem;
}
.para-two {
    font-weight: 600;
    font-size:20px;
    margin-bottom:3px;
    display:inline;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 200% 1px;
    transition: background-position .6s ease-in-out;
    padding: 0 !important;
    color: #222; 
}

.para-two:hover {
    text-decoration: none;
    background-position: 0 100%;
    background-image: linear-gradient(to left, transparent 50%, #222222 50%);
    cursor:pointer;
}
.para-3{
    font-size: 15px;
    margin-top:.5rem; 
}
.right-main{
    margin-left: 23px;
}
.right-main-1{
    margin-top: 25px;
}

#awg-200{
   max-width: 100px;
    height: 15vh;
    object-fit: cover;
    margin-right: 1rem;
}

.primary-section{
    background-color: #fff;
    color: #222;
    justify-content: center;
    padding-bottom: 70px;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}
.primary-img-zoom-detail {
    overflow: hidden; /* Ensure the image doesn't overflow out of its container */
    position: relative; /* Add positioning to help with overflow handling */
}

.primary-img-zoom {
    position: relative; /* Ensure the parent container is positioned for the zoom effect */
}

.primary-img-zoom img {
    transition: transform 0.1s ease-in-out; /* Smooth zoom transition */
    width: 100%; /* Ensure image fits within its container */
    display: block; /* Remove any extra space below the image */
}

.primary-img-zoom:hover img {
    transform: scale(1.2); /* Zoom in on hover */
}

.primary-section-detail {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Space out each card */
}
.image-zooming-text{
    max-width: 325px;
    height: 17vh;
}
#card-text-1{
    margin-bottom: .5rem;
    font-size: clamp(1.13rem, 0.21vw + 1.08rem, 1.27rem) !important;
    color: #222;
    font-weight: 600;
}
#card-text-2{
margin-bottom: 0px;
width: 100%;
}
.more {
    display: flex;
    align-items: center;
}
#more-button{
    color: #474747;
    border: 0 none;
    border-bottom: 2px solid #80c343;
    padding: 14px 0 4px;
    min-width: auto;
    background-color: #fff;
    font-size: 1rem;
    border-radius: 2px;
    font-weight: 500;
}
#more-button:hover{
    border-bottom: 2px solid black
    
}
.bottom-third-last{
    align-items: center;
    justify-content: center;
}
#back-to-top-button{
    width: 100%;
    height: 50px;
    border: none;
    background-color: #f8f8f8;
    color: #333;
    font-size: clamp(.79rem, .15vw + .76rem, .89rem);
    font-weight: 600;
}
#back-to-top-button:hover{
    background-color: #e0e0e0;
    transition: 0.6s;
}
.bottom-section{
    background-color: #f0f0f0;
}
.bottom-card{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    width: 100%;
    height: 100%;
    list-style: none;
    background-color: #f0f0f0;
}
.bottom-card-detail{
    padding-left: 3.5rem;
    padding-right: 1.5rem;
    width: 25%;
}
#bottom-card-text-1{
    font-size: clamp(1rem, 0.19vw + 0.96rem, 1.13rem) !important;
    font-weight: 600;
}
#bottom-card-text-2{
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    font-size: clamp(1rem, .19vw + .96rem, 1.13rem);
    font-weight: 450;
    cursor: pointer; 
}

.bottom-card-detail-2{
    margin-top:27px;

    }
.bottom-last{
    width: 100%;
    height: 100%;
}
.bottom-last-1{
    border-top:  2px solid #e0e0e0; ;
    margin-right: 25px;
    margin-left: 25px;
}
.bottom-last-2{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 1.95rem;
}
#bottom-last-2-image{
    padding: 0.75rem;
    cursor: pointer;
}
.bottom-last-3{
    justify-content: center;
    align-items: center;
    list-style: none;    
    gap: 15px;
}
.right-border{
    border-right: 2px #e0e0e0 solid;
    height: 25px;
}
#bottom-last-3-text{    
    padding: 4px 16px ;
    margin: 0;
    font-size: clamp(.79rem, .15vw + .76rem, .89rem);
    cursor: pointer;
    font-weight: 450;
    margin-bottom:3px;
    display:inline;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 200% 1px;
    transition: background-position .4s ease-in-out;
    padding: 0 !important;
    color: #222; 
}

#bottom-last-3-text:hover{
    background-position: 0 100%;
    background-image: linear-gradient(to left, transparent 50%, #222222 50%);
    cursor:pointer;
}

.bottom-last-4{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 1.5rem;
}
#bottom-last-4-image{
    margin-right:1rem;
}
#bottom-last-4-text{
    font-weight: 600;
    font-size: clamp(0.79rem, 0.15vw + 0.76rem, 0.89rem) !important;
    color: #222;
    cursor: pointer;
}
.bottom-last-5{
    align-items: center;
    justify-content:center;
    padding-bottom:3rem;
    flex-wrap: wrap;
}
#bottom-last-5-text{
    color: #222;
    font-size: small;
    
}


